@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

.app{
	font-family: 'League Spartan', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, minmax(300px, auto));
	grid-template-areas: "banner"
						 "shop"
						 "table"
						 "about"
						 "chair";
}