.controller{
	z-index: 1000;
	display: flex;
	width: 120px;
	height: 60px;
	position: absolute;
	top: 43.3%;
	right: 0;
}

.left, .right{
	width: 60px;
	height: 60px;
	display: grid;
	place-items: center;
	cursor: pointer;
	background: black;
}

.left:hover{
	background: hsl(0, 0%, 27%);
}

.right:hover{
	background: hsl(0, 0%, 27%);
}

img{
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}


@media screen and (min-width: 53em){
	.controller{
		top: 3%;
		right: 2%;
	}
}