.controller{
	display: flex;
	width: 120px;
	height: 60px;
	position: absolute;
	inset: auto 0 48% auto;
}

.left, .right{
	width: 60px;
	height: 60px;
	display: grid;
	place-items: center;
	cursor: pointer;
	background: black;
}

.left:hover{
	background: hsl(0, 0%, 27%);
}

.right:hover{
	background: hsl(0, 0%, 27%);
}

img{
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}


@media screen and (min-width: 53em){
	.controller{
		inset: auto 26.5vw 9vw auto;
	}
}