.mobile_header{
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 30px;
	display: flex;
	align-items: center;
}

.icon{
	flex: .65;
}

.icon > img{
	display: block;
	margin: auto 0;
}

.icon > img:hover{
	cursor: pointer;
}

.title > img{
	display: block;
	margin: auto 0;
}